body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(16, 18, 43);
}

.scene {
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 600px; 
    /*perspective-origin: center top;*/
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes zoom {
    0% {
        /*transform: translateZ(0px);*/
        transform: scale(1);
    }
    100% {
        /*transform: translateZ(-500px);*/
        transform: scale(0.5);
    }
}

.galaxy {
    position: relative;
    transform: rotateX(75deg) translateX(-100px);
    transform-style: preserve-3d;
}

.sun {
    /*clip-path: circle(200px);*/
    position: absolute;
    width: 400px;
    height: 400px;
    margin: auto auto;
    z-index: 0;
    overflow: visible;
    transform: rotateX(-75deg);
}

.mercury-orbit {
    position: absolute;
    width: 900px;
    height: 900px;
    border: 1px solid rgba(255,255,255,0.8);
    z-index: 0;
    border-radius: 50%;
    transform: translateX(-340px) translateY(-400px) translateZ(90px);
}

.border {
    border: 1px solid black;
}

.circleX {
    width: 200px;
    height: 200px;
    /*background: yellow;*/
    /*background: radial-gradient(circle at 100px 100px, yellow, #000);*/
    position: absolute;
    border-radius: 50%;
    background: #cc2204;
    background: radial-gradient(circle at 100px 100px, #cc2204, #000);
}

.circleX:nth-child(1) {
    transform: rotateX(36deg);
}

.circleX:nth-child(2) {
    transform: rotateX(72deg);
}
.circleX:nth-child(3) {
    transform: rotateX(108deg);
}
.circleX:nth-child(4) {
    transform: rotateX(144deg);
}
.circleX:nth-child(5) {
    transform: rotateX(0deg);
}

.circleY {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    /*background: radial-gradient(circle at 100px 100px, yellow, #000);
    background: yellow;*/
    background: #cc2204;
    background: radial-gradient(circle at 100px 100px, #cc2204, #000);
}

.circleY:nth-child(1) {
    transform: rotateY(36deg);
}
.circleY:nth-child(2) {
    transform: rotateY(72deg);
}

.circleY:nth-child(3) {
    transform: rotateY(108deg);
}
.circleY:nth-child(4) {
    transform: rotateY(144deg);
}
.circleY:nth-child(5) {
    transform: rotateY(0deg);
}

.circleZ {
    width: 200px;
    height: 200px;
    /*background: yellow;*/
    position: absolute;
    border-radius: 50%;
    /*background: radial-gradient(80% 80%, yellow, rgb(95, 76, 1));*/
    background: #cc2204;
    background: radial-gradient(circle at 100px 100px, #cc2204, #000);
}

.circleZ:nth-child(1) {
    transform: rotateZ(36deg);
}
.circleZ:nth-child(2) {
    transform: rotateZ(72deg);
}

.circleZ:nth-child(3) {
    transform: rotateZ(108deg);
}
.circleZ:nth-child(4) {
    transform: rotateZ(144deg);
}
.circleZ:nth-child(5) {
    transform: rotateZ(0deg);
}
