body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    background: rgb(16, 18, 43);
}

.scene {
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 500px; 
    animation-name: zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    margin-top: -20px;
    /*perspective-origin: center top;*/
}

@keyframes zoom {
    0% {
        transform: scale(1) translateY(0px);
    }
    20% {
        transform: scale(0.8) translateY(-90px);
    }
    40% {
        transform: scale(0.5) translateY(-190px);
    }
    100% {
        transform: scale(0.35) translateY(-160px);
    }
}

.galaxy {
    position: relative;
    transform: rotateX(90deg) translateX(-80px);
    transform-style: preserve-3d;
}

.sun {
    /*clip-path: circle(200px);*/
    position: absolute;
    width: 350px;
    height: 350px;
    margin: auto auto;
    z-index: 0;
    overflow: visible;
    transform: rotateX(-90deg);
    border-radius: 50%;
}

@keyframes planet-rotate{
    0%: { transform: rotateZ(0deg);}
    50%: { transform: rotateZ(180deg);}
    100%: { transform: rotateZ(360deg);}
}

@keyframes orbit {
  0%   { transform: rotateZ(0deg); }
  50% { transform: rotateZ(180deg); } 
  /*100% { transform: rotateX(360deg); } */
}

.border {
    border: 1px solid black;
}

/* TODO: change sun to larger size!!!! ; */
.circle-sun {
    background: #cc2204;
    background: radial-gradient(circle at 100px 100px, #f5620c, #cc2204, #000);
/*    background-image: url('sun.jpg');
    background-size: cover;*/
    width: 350px;
    height: 350px;
}

.mercury-orbit {
    position: absolute;
    width: 900px;
    height: 900px;
    border: 1px solid white;
    z-index: 0;
    border-radius: 50%;
    transform: rotateX(-7deg) translateX(-320px) translateY(-500px) translateZ(-80px);
}

.mercury {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: auto auto;
    z-index: 0;
    transform: rotateX(-90deg) translateZ(380px) translateY(50px); 
}

@keyframes mercury-rotate{
    0%: {
        transform: rotateX(-90deg) translateZ(380px) translateY(50px) rotateZ(0deg);
    }
    50%: {
        transform: rotateX(-90deg) translateZ(380px) translateY(50px) rotateZ(180deg);
    }
    100%: {
        transform: rotateX(-90deg) translateZ(380px) translateY(50px) rotateZ(360deg);
    }
}

.circle-mercury {
    background: rgb(144,140,145);
    background: radial-gradient(circle at 12px 12px, #c4c0c4 10%, rgb(144,140,145) 25%, #000);
    width: 40px;
    height: 40px;
}

.venus {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto auto;
    z-index: 0;
    transform: rotateX(-90deg) translateX(100px) translateZ(390px) translateY(100px);
}

.venus-orbit {
    position: absolute;
    width: 1500px;
    height: 1500px;
    border: 1px solid rgba(255,255,255,0.8);
    z-index: 0;
    border-radius: 50%;
    transform: rotateX(-3.5deg) translateX(-620px) translateY(-1100px) translateZ(-150px);
}

.circle-venus {
    background: rgb(228,188,103);
    background: radial-gradient(circle at 20px 20px, rgb(228,188,103), #59410d);
    width: 50px;
    height: 50px;
}

.earth {
    position: absolute;
    width: 78px;
    height: 78px;
    margin: auto auto;
    z-index: 2;
    transform: rotateX(-90deg) translateZ(397px) translateX(190px) translateY(80px);
}

.earth-orbit {
    position: absolute;
    width: 2050px;
    height: 2050px;
    border: 0.8px solid rgba(255,255,255,0.8);
    z-index: 0;
    border-radius: 50%;
    transform: translateX(-920px) translateY(-1612px) translateZ(-80px);
}

.circle-earth {
    /*background: rgb(65,146,41);*/
    background: radial-gradient(circle at 10px 10px, #018c5e 20%, blue 60%, #051e47 100%);
    width: 78px;
    height: 78px;
}

.circleX {
    position: absolute;
    border-radius: 50%;
}

.circleX:nth-child(1) {
    transform: rotateX(36deg);
}

.circleX:nth-child(2) {
    transform: rotateX(72deg);
}
.circleX:nth-child(3) {
    transform: rotateX(108deg);
}
.circleX:nth-child(4) {
    transform: rotateX(144deg);
}
.circleX:nth-child(5) {
    transform: rotateX(0deg);
}

.circleY {
    position: absolute;
    border-radius: 50%;
}

.circleY:nth-child(1) {
    transform: rotateY(36deg);
}
.circleY:nth-child(2) {
    transform: rotateY(72deg);
}

.circleY:nth-child(3) {
    transform: rotateY(108deg);
}
.circleY:nth-child(4) {
    transform: rotateY(144deg);
}
.circleY:nth-child(5) {
    transform: rotateY(0deg);
}

.circleZ {
    position: absolute;
    border-radius: 50%;
}

.circleZ:nth-child(1) {
    transform: rotateZ(36deg);
}
.circleZ:nth-child(2) {
    transform: rotateZ(72deg);
}

.circleZ:nth-child(3) {
    transform: rotateZ(108deg);
}
.circleZ:nth-child(4) {
    transform: rotateZ(144deg);
}
.circleZ:nth-child(5) {
    transform: rotateZ(0deg);
}
